html {
    height: 100%;
}
body {
    color: white;
    margin: 0px;
    background: transparent url('img/poster.jpg') fixed no-repeat center center;
    background-size: cover;
    background-color: black;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: red;
}

.menu {
    color: white;
}

.social a {
    padding-left: 10px;
    padding-right: 10px;
}

.fa-facebook-square {
    color: white;
}

.fa-facebook-square:hover {
    color: #bfb9b9;
}

.fa-youtube-square {
    color: white;
}

.fa-youtube-square:hover {
    color: #bfb9b9;
}

.fa-instagram {
    color: white;
}

.fa-instagram:hover {
    color: #bfb9b9;
}

.fa-soundcloud {
    color: white;
}

.fa-soundcloud:hover {
    color: #bfb9b9;
}

#bg {
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    /*height: 100%;*/
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
}

.navbar-brand {
    cursor:default;
}


.navbar-right {
    position: relative;
    left: -20px;
    top: -0px;
}

.nav-right {
    font-size: 22px;
}

.single-video {
    max-height: 300px;
}


.logo {
    width: 50px;
    margin-top: -24px;
}


.navbar {
    z-index: 1000;
    background-color: #000;
    font-family: 'Raleway', sans-serif;
}

.navbar-nav {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    padding-top: 40px;
    padding-left: 0px;

}

.navbar-nav .link a:hover {
    color: #b7df2d;
}

.navbar-nav .link a:active {
    color: yellow;
}

.navbar-nav li {
    padding-left: 20px;
}

.navbar-default {
    border: 0px;
}


.active {
    color: black;
}

.nav-fixedBottom {
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.menu {
    font-size: 24px;
}

.menu:hover {
    text-decoration: none;
    background-image: -webkit-gradient(linear,
				left top, left bottom,
				from(#f8ffe8),
				to(#b7df2d));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu:active {
    color: red;
}

.container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    padding-top: 23px;
}

.main {
    margin-top: 100px;
    text-align: center;
}

.form {
    width: 60%;
}

#mail {
    color: black;
} 